:root {
    --editor-width: 35vw; /* min(50ch, 50vw) */
    --buttons-height: 1.7em;
    --resize-width: 2ch;
    --line-height: 18px;
    --step-highlight-container-width: 15ch;
    --step-highlight-width: calc(100% / 10);
}
html {
    height: 100%;
    /* overflow-y: hidden; */
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #676767;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: row;
    flex: 1;
}
button, #speed-container {
    height: 100%;
    border: 0;
    padding: 1px 6px;
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;
}
button, #speed-container, #step-slider-container, #step-highlight-container, #speed-slider-container {
    height: 100%;
    background-color: #676767;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: #4d4d4d; /* if needed, find a way to dark background color instead of hard coding this */
}
input[type="range"]:hover {
	cursor: grab;
}
input[type="range"]:active {
	cursor: grabbing;
}
#step-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
    margin: 0;
    /* overflow: hidden */
    /* outline: none; */
    overflow: hidden;
    background-color: #ffffff;
}
#step-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    /* background: red; */
    box-shadow: -15ch 0 0 15ch rgb(15, 181, 236); /* -15ch 0 0 15ch rgb(80, 255, 80) */
}
#step-slider:hover::-webkit-slider-thumb {
    box-shadow: -15ch 0 0 15ch rgb(11, 148, 194);
}
#buttons::-webkit-scrollbar {
    display: none;
}
#buttons {
    height: var(--buttons-height);
    /* left: 25vw; */
    width: 100vw;
    max-width: fit-content;
    /* width: auto; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* margin-top: 10px; */
    overflow-x: scroll;
    overflow-y: hidden; /* address root problem if needed */
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: default; /* cursor pointer for buttons have greater specificity */
    font-family: Arial;

    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto;
    /* margin-left: auto; 
    margin-right: auto; */
    /* margin: auto; */
    /* margin-left: -10vw; */
    /* margin-right: -100vw; */
    z-index: 1;
    /* outline:rgb(0, 255, 0) solid 5px; */
}
/* #left-buttons, #right-buttons {
    display: flex;
    flex-direction: row;
    height: 100%;
    outline:rgb(0, 0, 255) solid 5px;
} */
/* #examples-button { */
    /* position: absolute; */
    /* right: var(--editor-width); } */
#buttons * {
    font-size: 13px;
    color: #ffffff;
    user-select: none;
}
#play-button {
    min-width: 10ch;
}
#step-slider-container, #speed-slider-container { /* #step-hightlight-container? */
    display: flex;
    flex-direction: row;
    align-items: center;
}
#speed-slider-container {
    padding-right: 6px;
}
#step-highlight-container {
    position: relative;
    width: var(--step-highlight-container-width);
    overflow: hidden;
}
#speed-slider {
    width: 9ch;
}
.icon {
    width: 1em;
    height: 1em;
    padding-bottom: 0.1em;
    pointer-events: none;
}
#between {
    width: 0;
    display: flex;
    flex-direction: column;
}
#resize {
    margin-left: calc(-1 * var(--resize-width) / 2);
    margin-right: calc(-1 * var(--resize-width) / 2);
    width: var(--resize-width);
    /* overflow: visible; */
    cursor: col-resize; /* ew-resize */
    /* outline: 2px solid rgb(255, 0, 0); */
    z-index: 0;
    height: 100%;
    user-select: none;
}
#editor {
    width: var(--editor-width);
    height: 100%;
    background-color: #1e1e1e; /* same color as editor, once loaded */
    /* DEBUG */
    /* resize: horizontal;
    overflow: auto; */
}
/* ::-webkit-resizer {
    border: 1px solid rgb(255, 0, 0);
    outline: 15px solid rgb(0, 0, 255);
} */
/* #editor::after {
    content: 'testing';
    margin-left: calc(-1 * var(--resize-width) / 2);
    margin-right: calc(-1 * var(--resize-width) / 2);
    width: var(--resize-width);
    height: calc(100% - var(--buttons-height));
    cursor: ew-resize;
    outline: 2px solid rgb(255, 0, 128);
    background-color: rgb(255, 0, 128);
    border-color: rgb(255, 0, 128);
    z-index: 100;
} */
#visual {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #343434;
    font-family: menlo;
    /* TODO */
    /* causing y overfill */
    /* padding-top: calc(27.192px + 2em); */
    /* padding-inline: 2em; */
    font-size: 13px;
    color: #ffffff;
    /* overflow-y: hidden; overflow-x: scroll; */
    overflow: hidden;
    white-space: nowrap;
}
#visual > * {
    overflow: scroll;
    /* flex: 1 1; */
}
.step-highlight {
    /* top: 0; */
    bottom: 0;
    position: absolute;
    height: calc(var(--buttons-height) / 3);
    width: var(--step-highlight-width);
    background-color: red; /* Highlight color */
    transform: translateX(-50%);
    pointer-events: none;
    /* overflow: auto;
    z-index: 100; */
}
.lineno-highlight {
    background-color: rgba(255, 0, 0, 0.2); /* Red with transparency */
    /* color: red; */
}
.line-highlight {
    background-color: rgba(15, 181, 236, 0.2); /* Blue with transparency */
    outline: 2px solid rgba(15, 181, 236, 0.4); /* alternatively, border */
}
[disabled] {
    cursor: not-allowed !important;
    filter: brightness(0.8);
}
#data-structures {
    flex: 1 1;
}
#primitives {
    flex: 1 1;
}
#step-through {
    flex: 1 1;
}
#editor-line {
    height: var(--line-height);
    background-color: #1e1e1e;
    /* display: flex;
    flex-direction: row; */
}
/* #editor-line-lineno {
    flex: 0 0 auto;
}
#editor-line-line {
    flex: 1 1;
    overflow: scroll;
    white-space: nowrap;
} */
#terminal {
    flex: 0.5 1;
    background-color: #181818;
}
/* .centered-text {
    text-align: center;
    margin-inline: auto;
    display: flex;
    justify-content: center;
} */
#step-counter {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    pointer-events: none;
}