:root {
    --editor-width: 35vw;
    --buttons-height: 1.7em;
    --resize-width: 2ch;
    --line-height: 18px;
    --step-highlight-container-width: 15ch;
    --step-highlight-width: max(1px, calc(100% / 10));
    --cursor-on-linenos: default;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #676767;
    display: flex;
    flex-direction: row;
    flex: 1;
}
button, #speed-container {
    height: 100%;
    border: 0;
    padding: 1px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5ch;
}
button, #speed-container, #step-slider-container, #step-highlight-container, #speed-slider-container {
    height: 100%;
    background-color: #676767;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: #4d4d4d;
}
input[type="range"]:hover {
	cursor: grab;
}
input[type="range"]:active {
	cursor: grabbing;
}
#step-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
}
#step-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    /* background: red; */
    box-shadow: -15ch 0 0 15ch rgb(15, 181, 236);
}
#step-slider::-moz-range-thumb {
    width: 0px;
    border: none;
    box-shadow: -15ch 0 0 15ch rgb(15, 181, 236);
}
#step-slider:hover::-webkit-slider-thumb {
    box-shadow: -15ch 0 0 15ch rgb(11, 148, 194);
}
#step-slider:hover::-moz-range-thumb {
    box-shadow: -15ch 0 0 15ch rgb(11, 148, 194);
}
#buttons::-webkit-scrollbar {
    display: none;
}
#buttons {
    height: var(--buttons-height);
    width: 100vw;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden; /* address root problem if needed */
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: default; /* cursor pointer for buttons have greater specificity */
    font-family: Arial;

    position: absolute;
    left: 0; 
    right: 0; 
    margin-inline: auto;
    z-index: 1;
}
/* #left-buttons, #right-buttons {
    display: flex;
    flex-direction: row;
    height: 100%;
    outline:rgb(0, 0, 255) solid 5px;
} */
/* #examples-button { */
    /* position: absolute; */
    /* right: var(--editor-width);
} */
#buttons * {
    font-size: 13px;
    color: #ffffff;
    user-select: none;
}
#play-button {
    min-width: 11ch;
}
#step-slider-container, #speed-slider-container { /* #step-hightlight-container? */
    display: flex;
    flex-direction: row;
    align-items: center;
}
#speed-slider-container {
    padding-right: 6px;
}
#step-highlight-container {
    position: relative;
    width: var(--step-highlight-container-width);
    overflow: hidden;
}
#speed-slider {
    width: 9ch;
}
.icon {
    width: 1em;
    height: 1em;
    padding-bottom: 0.1em;
    pointer-events: none;
}
:has(.bigger-icon) {
    position: relative;
}
.bigger-icon {
    width: 3em;
    height: 3em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#between {
    width: 0;
    display: flex;
    flex-direction: column;
}
#resize {
    margin-left: calc(-1 * var(--resize-width) / 2);
    margin-right: calc(-1 * var(--resize-width) / 2);
    width: var(--resize-width);
    cursor: col-resize; /* alternatively, ew-resize */
    z-index: 0;
    height: 100%;
    user-select: none;
}
#editor {
    width: var(--editor-width);
    height: 100%;
    background-color: #1e1e1e; /* same color as editor, once loaded */
}
#visual {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #343434;
    font-family: menlo;
    font-size: 13px;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
}
#visual > * {
    overflow: scroll;
}
.step-highlight {
    bottom: 0;
    position: absolute;
    height: calc(var(--buttons-height) / 4);
    width: var(--step-highlight-width);
    background-color: rgb(220, 220, 0);
    transform: translateX(-50%);
    pointer-events: none;
}
.lineno-highlight {
    background-color: rgba(255, 255, 0, 0.2); /* Yellow with transparency */
}
.line-highlight {
    background-color: rgba(15, 181, 236, 0.2); /* Blue with transparency */
    outline: 2px solid rgba(15, 181, 236, 0.4); /* alternatively, border */
}
.prev-line-highlight {
    background-color: rgba(15, 181, 236, 0.05); 
    outline: 2px solid rgba(15, 181, 236, 0.1); 
}
.line-error {
    background-color: rgba(240, 77, 75, 0.2); /* Red with transparency */
    outline: 2px solid rgba(240, 77, 75, 0.4); /* alternatively, border */
}
.later-line-error {
    background-color: rgba(240, 77, 75, 0.1); /* Red with transparency */
    outline: 2px solid rgba(240, 77, 75, 0.2); /* alternatively, border */
}
[disabled] {
    cursor: not-allowed !important;
    filter: brightness(0.8);
}
#svg {
    flex: 1 1;
}
/* #svg > g {
    overflow: visible;
} */
/* #svg * {
    overflow: hidden;
} */
/* #data-structures {
    flex: 1 1;
}
#primitives {
    flex: 1 1;
}
#step-through {
    flex: 1 1;
} */
#editor-line {
    height: var(--line-height);
    background-color: #1e1e1e;
    /* display: flex;
    flex-direction: row; */
}
/* #editor-line-lineno {
    flex: 0 0 auto;
}
#editor-line-line {
    flex: 1 1;
    overflow: scroll;
    white-space: nowrap;
} */
#terminal {
    flex: 0.3 1;
    background-color: #181818;
}
.terminal-error {
    color: #f04d4b;
}
#step-counter {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    pointer-events: none;
}
.depressed {
    filter: brightness(0.8);
}
.cursor-pointer {
    cursor: pointer !important;
}
